input, label {
    display:block;
    font-size: 16px;
    padding: 10px 0;
}

#username, #username-validated {
    width: 30%;
}
input[type=checkbox] {
  display: inline;
}

input[type=radio] {
  display: inline;
}

/* DROP DOWN REMOVE BORDER-RADIUS */
select {
    padding: 8px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 30%;
}
