input, label {
    display:block;
    font-size: 16px;
}

#username, #username-validated {
    width: 30%;
}

/* DROP DOWN REMOVE BORDER-RADIUS */
select {
    padding: 8px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 30%;
}

/* CHECKBOX & RADIO */
#the-checkbox{
    display: none;
}

#the-radio {
    display: none;
}

.sprite {
    background-image: url('/images/form-elements-sprite.png');
    background-repeat: no-repeat;
    background-size: 320px;
}

.checkbox-unchecked {
    background-position: -28px -52px;
    display: block;
    height: 38px;
    width: 51px;
}

/* JS */
.checkbox-checked {
    background-position: -77px -52px;
    display: block;
    height: 38px;
    width: 51px;
}

.radio-unchecked {
    background-position: -123px -52px;
    display: block;
    height: 38px;
    width: 51px;
}

.radio-checked {
    background-position: -172px -52px;
    display: block;
    height: 38px;
    width: 51px;
}
