input, label {
    display:block;
    font-size: 16px;
}

#username, #username-validated {
    width: 30%;
}

/* DROP DOWN REMOVE BORDER-RADIUS */
select {
    padding: 8px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    width: 30%;
}

.sprite {
    background-image: url('/images/form-elements-sprite.png');
    background-repeat: no-repeat;
}

/******* CHECKBOX *******/
#checkbox input{
    display: none;
}

.checkbox-unchecked {
    background-position: -158px -260px;
    display: block;
    height: 40px;
    width: 40px;
}

/* JS */
.checkbox-checked {
    background-position: -89px -56px;
    display: block;
    height: 100px;
    width: 100px;
}

/****** RADIO *******/
#radio input{
    display: none;
}

.radio-unchecked {
    background-position: -136px -56px;
    display: block;
    height: 100px;
    width: 100px;
}

.radio-checked {
    background-position: -190px -56px;
    display: block;
    height: 100px;
    width: 100px;
}
